body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f7f7f7;
}

#app {
  margin-top: 50px;
}

input, button, select {
  margin: 5px;
  padding: 10px;
}

button {
  cursor: pointer;
}

#main-section {
  margin-top: 20px;
}
