/* Global Styles */
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
	background-color: black;
	background: linear-gradient(217deg, rgba(139,0,0,.8), rgba(255,69,0,.1) 70.71%),
            linear-gradient(127deg, rgba(184,134,11,.8), rgba(34,139,34,.1) 30.71%),
            linear-gradient(336deg, rgba(25,25,112,.8), rgba(72,61,139,.1) 70.71%),
            linear-gradient(37deg, rgba(128,0,128,.2), rgba(139,0,139,.1) 30.71%),
            linear-gradient(156deg, rgba(128,128,128,.8), rgba(0,0,0,.9) 92.71%);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    width: 90%;
    background-color: gray;
	background: linear-gradient(187deg, rgba(255,182,193,.8), rgba(255,160,122,.1) 60.71%),
				linear-gradient(97deg, rgba(240,230,140,.8), rgba(144,238,144,.1) 40.71%),
				linear-gradient(306deg, rgba(173,216,230,.8), rgba(123,104,238,.1) 50.71%),
				linear-gradient(47deg, rgba(238,130,238,.2), rgba(255,20,147,.1) 20.71%);
    padding: 20px;
    border-radius: 8px;
	opacity: 0.9;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

/* Header */
header h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

header h1 span {
    display: inline-block;
    transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

header h1:hover span {
    animation: jiggle 0.5s ease-in-out infinite, colorChange 2s linear infinite;
}

@keyframes jiggle {
    0% {
        transform: translateX(0) rotate(0);
    }
    25% {
        transform: translateX(-3px) translateY(-3px) rotate(-3deg);
    }
    50% {
        transform: translateX(3px) translateY(-3px) rotate(3deg);
    }
    75% {
        transform: translateX(2px) translateY(-2px) rotate(-2deg);
    }
    100% {
        transform: translateX(0) rotate(0);
    }
}

@keyframes colorChange {
    0% {
        color: #e7eaff;
    }
    14% {
        color: #a1a1b5;
    }
    28% {
        color: red;
    }
    42% {
        color: orange;
    }
    57% {
        color: yellow;
    }
    71% {
        color: green;
    }
    85% {
        color: violet;
    }
    100% {
        color: red;
    }
}

/* Elo */
#nbElo {
    font-size: 15px;
}

/* Button styles */
button, .btn {
    margin: auto;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 10px;
    margin-top: 10px;
}

button:hover, .btn:hover {
    transform: scale(1.05);
    background-color: #0056b3;
}

.btn.danger {
    background-color: #e74c3c;
    padding: 8px 16px;
	opacity: 0.9;
}

.btn.danger:hover {
    background-color: #c0392b;
	opacity: 1;
}

.btn.secondary {
    color: #3a3a3a;
	opacity: 1;
    background-color: #95a5a6;
}

.btn.secondary:hover {
    background-color: #7f8c8d;
}

.btn.primary {
	opacity: .95;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form select {
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

form input {
    width: 90%;
	opacity: 0.78;
}

form input#points {
    width: auto;
}


form label {
    font-size: 14px;
}

form label {
    display: block; 
    margin-bottom: 5px;
}

form input, form select {
    display: block; 
    margin-bottom: 15px; 
}


/* Leaderboard Table */
table {
    width: 95%;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 6px;
    overflow: hidden
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #fff;
}

table th {
    background-color: rgba(248, 249, 250, 0.8);
}

table thead tr th {
    opacity: 0.95;
}

table tr:last-child td {
    border-bottom: none;
}

.player-name:hover,
.player-elo:hover,
.player-class:hover {
    opacity: 1;
    background-color: rgba(182, 160, 160, 0.8);
}

table tbody tr:nth-child(1):hover {
    border: 3px solid yellow;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.6);
    background-color: rgba(255, 255, 0, 0.1);
}

table tbody tr:nth-child(2):hover {
    border: 3px solid yellow;
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.6);
    background-color: rgba(150, 150, 150, 0.5);
}

table tbody tr:nth-child(3):hover {
    border: 3px solid yellow;
    box-shadow: 0 0 10px rgba(143, 74, 0, 0.8);
    background-color: rgba(143, 74, 0, 0.15);
}

/* Links */
.link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.link:hover {
    text-decoration: underline;
}

.log-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer Styles */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: rgba(82, 60, 60, 0.9);
    font-size: 0.9rem;
}

footer a {
    color: rgba(40, 60, 60, 0.9);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: rgba(60, 60, 40, 0.5);
    text-decoration: underline;
}

/* ELO Box */
#elo-box {
    position: fixed;
    top: 20px;
    right: 30px;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.9), rgba(245, 245, 245, 0.9));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(255, 255, 255, 0.3) inset;
    border: 1px solid rgba(200, 200, 200, 0.7);
    border-radius: 8px;
    padding: 20px 20px;
    min-width: 200px;
    font-size: 16px;
    color: #333;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1; 
    opacity: 0.95;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	height: auto;
    flex-direction: column;
}

#elo-box:hover {
    transform: scale(1.05);
    opacity: 1;
}

/* Log Button Section */
.log-button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    z-index: 2; 
}

.log-button .btn {
    width: 180px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

hr {
    margin-top: 10px;
	width: 40%;
	border: none;
	border-top: 3px double #333;
	color: rgba(245, 140, 150, 0.8);
	opacity: .5;
	overflow: visible;
	text-align: center;
	height: 5px;
}