<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="height: 100vh;">
    <div class="container">
        <header>
            <h1>Connexion</h1>
        </header>

        <section class="auth-form">
            <form method="POST">
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" name="username" required>
                <label for="password">Mot de passe:</label>
                <input type="password" name="password" required>
                <button type="submit" class="btn primary">Se connecter</button>
            </form>
            <p style="text-align: end; margin-right: 5%;"><a href="{{ url_for('register') }}" class="link">Créer un compte</a></p>
        </section>
		<footer>
			<p>&copy; 2024. Tous droits réservés. Conçu par 
				<a href="https://wartets.github.io/Wartets/" target="_blank">&#x2197;Wartets</a>.
				<wbr>Découvrez d'autres projets sur <a href="https://github.com/wartets" target="_blank">&#x2197;GitHub</a>.
			</p>
		</footer>
    </div>
    <script src="static\script.js"></script>
</body>
</html>
