<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="height: 100vh;">
    <div class="container">
        <header>
            <h1>Inscription</h1>
        </header>

        <section class="auth-form">
			<form method="POST">
				<label for="username">Choisissez un nom d'utilisateur :</label>
				<input type="text" name="username" id="username" pattern="^[a-zA-Z0-9_-]+$" title="Caractères autorisés : lettres, chiffres, tirets et underscores." required>
				
				<label for="password">Choisissez un mot de passe :</label>
				<input type="password" name="password" id="password" pattern="^[a-zA-Z0-9!@#$%^&*()_+-=]+$" title="Caractères spéciaux interdits : espaces, crochets, accolades, etc." required>
				
				<label for="confirm_password">Confirmez votre mot de passe :</label>
				<input type="password" name="confirm_password" id="confirm_password" required>
				
				<button type="submit" class="btn primary">Créer un compte</button>
			</form>

			<p style="text-align: end; margin-right: 5%;"><a href="{{ url_for('login') }}">Se connecter</a></p>
        </section>
		<footer>
			<p>&copy; 2024. Tous droits réservés. Conçu par 
				<a href="https://wartets.github.io/Wartets/" target="_blank">&#x2197;Wartets</a>.
				<wbr>Découvrez d'autres projets sur <a href="https://github.com/wartets" target="_blank">&#x2197;GitHub</a>.
			</p>
		</footer>
    </div>
    <script src="static\script.js"></script>
</body>
</html>


