<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Inscription</h1>
        </header>

        <section class="auth-form">
            <form method="POST">
                <label for="username">Choisissez un nom d'utilisateur :</label>
                <input type="text" name="username" required>
                <label for="password">Choisissez un mot de passe :</label>
                <input type="password" name="password" required>
                <button type="submit" class="btn primary">Créer un compte</button>
            </form>
			<p><a href="{{ url_for('login') }}">Se connecter</a></p>
        </section>
    </div>
</body>
</html>
